.circle-image {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
  background-image: url(./me.png);
  background-size: cover;
  margin-bottom: 1vh;
  border: 2px solid #ee7175;
}

.banner-background {
  margin: 0;
  padding-top: 2vh;
  padding-bottom: 2vh;
  color: white;
  text-align: center;
}
