.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  background: #ee7175;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.footer-options {
  color: #626568;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
}

.social-icon {
  font-size: 28px;
  padding-left: 1vw;
}

a.social-icon:visited {
  color: #626568;
}

a.social-icon {
  color: #626568;
}
