body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.app-container {
  display: grid;
  margin: 10vh 10vh;
  border: black solid 0.1px;
  height: 80vh;
  background: white;
  border-radius: 12px;
  grid-template-columns: 33% 33% 33%;
}

.first-column {
  grid-column-start: 1;
  grid-column-end: 1;
  display: grid;
  grid-template-rows: 70% 30%;
}

.second-column {
  grid-column-start: 2;
  grid-column-end: 2;
}

.third-column {
  grid-column-start: 3;
  grid-column-end: 3;
}

.first-column-row {
  grid-row-start: 1;
  grid-row-end: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
